ion-content {
    --padding-top: 5%;
}
@media (max-width: 500px) {
    ion-content {
        --padding-top: 17%;
    }
}

@media (min-width: 700px) {
    .title {
        transform: scale(4) translate(45px, 45px);
    }
}

.featuredCard {
    ion-card-content {
        * {
            color: #ffffff;
            text-align: left;
        }
        padding: 0;

        ion-label {
            padding: 16px;
        }

        ion-label.subTitle {
            display: flex;
            justify-content: space-between;
            position: absolute;
            bottom: 0;
            width: 100%;
            align-items: flex-end;
            ion-text:last-child {
                font-size: 13px;
            }
        }
    }
}

.overlay {
    position: absolute;
    // background: #06090e;
    // opacity: 86%;
    height: 100%;
    width: 100%;
    top: 0;
    // mix-blend-mode: hue;
    opacity: 80%;
    // background: #1f1c2c; /* fallback for old browsers */
    background-image: linear-gradient(to bottom, #00000000, #00000000, #00000070, #000000d6, #000000);
}

.ftured {
    display: flex;
    overflow-x: scroll;
    width: 100%;

    ion-card {
        width: 100%;
        max-width: 100%;
        min-width: 80%;

        ion-buttons {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.ShadowBoxedList {
    ion-item {
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.006), 0 6.7px 5.3px rgba(0, 0, 0, 0.008),
            0 12.5px 10px rgba(0, 0, 0, 0.01), 0 22.3px 17.9px rgba(0, 0, 0, 0.012),
            0 41.8px 33.4px rgba(0, 0, 0, 0.014), 0 100px 80px rgba(0, 0, 0, 0.02);
            border-radius: 6px;
            margin-top: 16px;
        }
}
