<ion-content>
  <!-- Searchbar with cancel -->
  <ion-searchbar></ion-searchbar>

  <!-- todays videos -->
  <ion-item detail="false" lines="none">
    <ion-label>Today </ion-label>
  </ion-item>
  <!-- featured -->
  <div class="ftured">
    <ion-card class="featuredCard" button>
      <ion-card-content>
        <ion-img src="../../assets/tempImages/IMG_9111.jpg"></ion-img>
        <div class="overlay"></div>
        <ion-label class="subTitle">
          <ion-text slot="start">
            <h1>Bless the Lord</h1>
            Pastor Fatoyinbo
          </ion-text>
          <ion-text slot="primary">
            <ion-icon name="stats-chart"></ion-icon> 5.5M Views
          </ion-text>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="play"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <ion-card class="featuredCard" button>
      <ion-card-content>
        <ion-img src="../../assets/tempImages/_MG_0893.JPG"></ion-img>
        <div class="overlay"></div>
        <ion-label class="subTitle">
          <ion-text slot="start">
            <h1>Bless the Lord</h1>
            Pastor Fatoyinbo
          </ion-text>
          <ion-text slot="primary">
            <ion-icon name="stats-chart"></ion-icon> 5.5M Views
          </ion-text>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="play"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <ion-card class="featuredCard" button>
      <ion-card-content>
        <ion-img src="../../assets/tempImages/COZA53.jpg"></ion-img>
        <div class="overlay"></div>
        <ion-label class="subTitle">
          <ion-text slot="start">
            <h1>Bless the Lord</h1>
            Pastor Fatoyinbo
          </ion-text>
          <ion-text slot="primary">
            <ion-icon name="stats-chart"></ion-icon> 5.5M Views
          </ion-text>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="play"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
    <ion-card class="featuredCard" button>
      <ion-card-content>
        <ion-img src="../../assets/tempImages/COZA76.jpg"></ion-img>
        <div class="overlay"></div>
        <ion-label class="subTitle">
          <ion-text slot="start">
            <h1>Bless the Lord</h1>
            Pastor Fatoyinbo
          </ion-text>
          <ion-text slot="primary">
            <ion-icon name="stats-chart"></ion-icon> 5.5M Views
          </ion-text>
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon name="play"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- this week videos -->
  <ion-item detail="false" lines="none">
    <ion-label>This Week </ion-label>
  </ion-item>

  <ion-list class="ShadowBoxedList" lines="none">
    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img src="../../assets/tempImages/IMG_9111.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Bless the Lord</h3>
        <p>Pastor Fatoyinbo</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img src="../../assets/tempImages/_MG_0893.JPG">
      </ion-avatar>
      <ion-label>
        <h3>Bless the Lord</h3>
        <p>Pastor Fatoyinbo</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img src="../../assets/tempImages/COZA53.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Bless the Lord</h3>
        <p>Pastor Fatoyinbo</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img src="../../assets/tempImages/COZA53.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Bless the Lord</h3>
        <p>Pastor Fatoyinbo</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    <ion-item button detail="false">
      <ion-avatar slot="start">
        <img src="../../assets/tempImages/COZA53.jpg">
      </ion-avatar>
      <ion-label>
        <h3>Bless the Lord</h3>
        <p>Pastor Fatoyinbo</p>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="play"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>
</ion-content>