<ion-header class="ion-no-border" [transparent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    <img src="../../assets/bookcovers/whenfavour.png">
  </ion-toolbar>
  <ion-avatar>
    <img src="../../assets/bookcovers/pb_author.png">
  </ion-avatar>
  <ion-toolbar class="contentToolbar">
    <ion-list lines="none">
      <ion-item>
        <ion-label>
          <h2>When Favour find you</h2>
          <p>Fatoyinbo Biodun</p>
        </ion-label>
      </ion-item>
      <ion-item>
        <p class="catchPhrase"> A wise man said, "The problem that is bigger than favour does not exist". Favour is the
          reason why a man who
          has
          been sentence to death is given a second chance.</p>
      </ion-item>
    </ion-list>
  </ion-toolbar>


</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <ion-button fill="solid" size="large">
        Read
        <ion-icon name="barcode-outline"></ion-icon>
      </ion-button>

      <ion-button fill="outline" size="large">
        Get a copy <ion-icon name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>