<ion-content [fullscreen]="true">
    <ion-list lines="none">
        <ion-item detail="false">
            <ion-label>Recap</ion-label>
        </ion-item>
    </ion-list>

    <!-- Recap videos -->
    <div class="recap">
        <ion-card class="featuredCard" button style="background: url(../../assets/tempImages/IMG_9111.jpg);">
            <ion-card-content>
                <div class="overlay"></div>
                <ion-label class="subTitle">
                    Sunday Service
                </ion-label>
            </ion-card-content>
        </ion-card>

        <ion-card class="featuredCard" button style="background: url(../../assets/tempImages/IMG_9111.jpg);">
            <ion-card-content>
                <div class="overlay"></div>
                <ion-label class="subTitle">
                    Sunday Service
                </ion-label>
            </ion-card-content>
        </ion-card>

        <ion-card class="featuredCard" button style="background: url(../../assets/tempImages/IMG_9111.jpg);">
            <ion-card-content>
                <div class="overlay"></div>
                <ion-label class="subTitle">
                    Sunday Service
                </ion-label>
            </ion-card-content>
        </ion-card>

        <ion-card class="featuredCard" button style="background: url(../../assets/tempImages/IMG_9111.jpg);">
            <ion-card-content>
                <div class="overlay"></div>
                <ion-label class="subTitle">
                    Sunday Service
                </ion-label>
            </ion-card-content>
        </ion-card>

        <ion-card class="featuredCard" button style="background: url(../../assets/tempImages/IMG_9111.jpg);">
            <ion-card-content>
                <div class="overlay"></div>
                <ion-label class="subTitle">
                    Sunday Service
                </ion-label>
            </ion-card-content>
        </ion-card>
    </div>

    <ion-list lines="none">
        <ion-item detail="false">
            <ion-label>#Live now</ion-label>
        </ion-item>
    </ion-list>

    
</ion-content>